[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/anubis-zero"]
	path = themes/anubis-zero
	url = git@github.com:zero-iee/hugo-theme-anubis-zero.git
	branch = master
